body{
    background-color: rgb(27, 27, 27);
    color:beige;
    margin: 20px;
    padding: 20px;
}
h1 {
    color:orange;
    text-align: center;
    font-family: 'fantasy';
}
p {
    color:rgb(255, 234, 195);
    text-align: center;
    font-family: 'Trebuchet MS';
}
div {
    background-color: rgb(37, 37, 37);
    width: 1200px;;
    margin:auto;
    justify-content: center;
    color:beige;
    padding: 20px;

}